BoardGameGeekIntegration/Models/BoardGameDetails.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="boardgames">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="boardgame">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="yearpublished" type="xs:unsignedShort" />
                <xs:element name="minplayers" type="xs:unsignedByte" />
                <xs:element name="maxplayers" type="xs:unsignedByte" />
                <xs:element name="playingtime" type="xs:unsignedByte" />
                <xs:element name="minplaytime" type="xs:unsignedByte" />
                <xs:element name="maxplaytime" type="xs:unsignedByte" />
                <xs:element name="age" type="xs:unsignedByte" />
                <xs:element maxOccurs="unbounded" name="name">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="primary" type="xs:boolean" use="optional" />
                        <xs:attribute name="sortindex" type="xs:unsignedByte" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="description" type="xs:string" />
                <xs:element name="thumbnail" type="xs:string" />
                <xs:element name="image" type="xs:string" />
                <xs:element name="boardgamepublisher">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="objectid" type="xs:unsignedShort" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="boardgamepodcastepisode">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="objectid" type="xs:unsignedInt" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="boardgamehonor">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="objectid" type="xs:unsignedShort" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="boardgameversion">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="objectid" type="xs:unsignedInt" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="boardgamecategory">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="objectid" type="xs:unsignedShort" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="boardgamedesigner">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="objectid" type="xs:unsignedShort" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="boardgameartist">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="objectid" type="xs:unsignedShort" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="boardgamemechanic">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="objectid" type="xs:unsignedShort" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="boardgamesubdomain">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="objectid" type="xs:unsignedShort" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="boardgamefamily">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="objectid" type="xs:unsignedShort" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="boardgameexpansion">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="objectid" type="xs:unsignedInt" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="boardgameaccessory">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="objectid" type="xs:unsignedInt" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="boardgamecompilation">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="objectid" type="xs:unsignedInt" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="poll">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="unbounded" name="results">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="result">
                              <xs:complexType>
                                <xs:attribute name="value" type="xs:string" use="required" />
                                <xs:attribute name="numvotes" type="xs:unsignedShort" use="required" />
                                <xs:attribute name="level" type="xs:unsignedByte" use="optional" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="numplayers" type="xs:string" use="optional" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="title" type="xs:string" use="required" />
                    <xs:attribute name="totalvotes" type="xs:unsignedShort" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
            <xs:attribute name="objectid" type="xs:unsignedInt" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="termsofuse" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>